.task1 #field {
    width: 200px;
    border: 10px groove black;
    background-color: #00FF00;
    position: relative;
}

.task1 #ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}