.task1 .block {
    position: relative;
    height: 150px;
    border: 1px solid #CCC;
    background: #eee;
}

.task1 .spacer {
    margin-left: 20%;
    margin-right: 20%;
    height: 80%;
    border: 1px solid black;
    background: rgb(243, 0, 0);
    /*либо position absolute, ичерез трансформ -50% + топ50% но тогда нужна высота заданная не в процентах  */
    margin-top: 14px;
}