.task1 .block {
    height: 150px;
    border: 1px solid #CCC;
    background: #eee;
}

.task1 .spacer {
    margin-left: 20%;
    margin-right: 20%;
    height: 80%;
    border: 1px solid black;
    background: rgb(243, 0, 0);
    /*либо position absolute, и релетив на родители ичерез трансформ -50% + топ50% но тогда нужна высота заданная не в процентах  
    так же и с флексами\гридами, */
    margin-top: 14px;
}

.task2 input::-moz-placeholder {
    font-weight: 600;
    color: red;
}

.task2 input::-webkit-input-placeholder {
    color: red;
    font-weight: 600;
}