.task2 li {
    list-style: none;
    margin-top: 5px;
}

.task2 .icon {
    width: 20px;
    height: 20px;
    float: left;
}

.task2 .open .icon {
    background: url(https://js.cx/sprite-tree/minus.gif) no-repeat;
}

.task2 .closed .icon {
    background: url(https://js.cx/sprite-tree/plus.gif) no-repeat;
}

.task2 .leaf .icon {
    background: url(https://js.cx/sprite-tree/article.gif) no-repeat;
}


/* TASK 3 */

.task3 .nav {
    margin: 0 auto;
    width: 850px;
}

.task3 .left {
    float: left;
}

.task3 .right {
    float: right;
}

.task3 .pages {
    list-style: none;
    text-align: center;
}

.task3 li {
    display: inline-block;
    margin: 10px 0;
}


/* Task4 */

.task4 .left {
    float: left;
    width: 30%;
    background: #aef;
}

.task4 .right {
    float: right;
    width: 70%;
    background: tan;
    border-left: 5px solid rgb(0, 0, 0);
    padding-left: 30px;
    box-sizing: border-box;
}